@using Front.Models


@(Html.Kendo().Grid<ProductoModels>().Name("Grilla")
         .ToolBar(t=>{
            t.Create();
        })
       .Selectable()
       .Filterable()
       .Editable(GridEditMode.InLine)
       .DataSource(dataSource => dataSource.Ajax()
                    .Read("GetAllProducto", "API")
                    .Create("AddProducto","API")
                    .Update("EditProducto","API")
                    .Destroy("DeleteProducto","API")
                    .Model(m=>{
                        m.Id(p=>p.id);
                        m.Field(p=>p.id).Editable(false);
                        m.Field(p=>p.Descripcion).DefaultValue("Descripcion:");
                        m.Field(p=>p.Habilitado).Editable(false);
                        m.Field(P=> P.TipoDeProductoID).Editable(false);
                    })
                    
         )
         .Columns( c=> {
             
             c.Bound(m=>m.id).Filterable(false);
             c.Bound(m=>m.Descripcion);
             c.Bound(m=>m.Habilitado).ClientTemplate("<div>#= Habilitado # </div>");
             c.Command(command => command.Edit()).Width(120);
             c.Command(command => command.Destroy()).Width(120);
            

         })


     

)