 @(Html.Kendo().DropDownList()
          .Name("color")
          .DataTextField("name")
          .DataValueField("url")
          .Events(e => e.Change("change"))
          .DataSource(d => d.Read(r => r.Action("GetPokemon","Home")))
          .Events(e => e.Open("Open"))
          .Events(e => e.Change("Change"))
          .Events(e => e.DataBound("DataBound"))
          .Value("1")
          .HtmlAttributes(new { style = "width: 100%" })
    )


@(Html.Kendo().Button().Name("Btn").Content("Cargar").Events(e => e.Click("Cargar")))


@(Html.Kendo().DatePicker().Name("DatePicker"))
@*@(Html.Kendo()
.TextBox()
.Name("Tbx")
.Value("Mi primer textbox")
)

@Html.Kendo().Button().Content("Clic").Name("Button").Events(e => e.Click("Click"))
<input type="text" value="mi primer textbox"/>

<button>Clic</button>*@

<script src="~/js/kendo.js"></script>