 @(Html.Kendo().DropDownList()
          .Name("color")
          .DataTextField("Text")
          .DataValueField("Value")
          .Events(e => e.Change("change"))
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Black",
                  Value = "1"
              },
              new SelectListItem() {
                  Text = "Orange",
                  Value = "2"
              },
              new SelectListItem() {
                  Text = "Grey",
                  Value = "3"
              }
          })
          .Events(e => e.Open("Open"))
          .Events(e => e.Change("Change"))
          .Events(e => e.DataBound("DataBound"))
          .Value("1")
          .HtmlAttributes(new { style = "width: 100%" })
    )

@(Html.Kendo()
.TextBox()
.Name("Tbx")
.Value("Mi primer textbox")
)

@Html.Kendo().Button().Content("Clic").Name("Button").Events(e => e.Click("Click"))
<input type="text" value="mi primer textbox"/>

<button>Clic</button>

<script src="~/js/kendo.js"></script>